In [1]:
import pandas as pd
house = pd.read_csv('C://Users//MY PC//desktop//DATASETS//ml_house_data_set.csv')

In [2]:
house.head()

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_type,garage_sqft,carport_sqft,has_fireplace,has_pool,has_central_heating,has_central_cooling,house_number,street_name,unit_number,city,zip_code,sale_price
0,1978,1,4,1,1,1689,1859,attached,508,0,True,False,True,True,42670,Lopez Crossing,NaN,Hallfort,10907,270897.0
1,1958,1,3,1,1,1984,2002,attached,462,0,True,False,True,True,5194,Gardner Park,NaN,Hallfort,10907,302404.0
2,2002,1,3,2,0,1581,1578,none,0,625,False,False,True,True,4366,Harding Islands,NaN,Lake Christinaport,11203,2519996.0
3,2004,1,4,2,0,1829,2277,attached,479,0,True,False,True,True,3302,Michelle Highway,NaN,Lake Christinaport,11203,197193.0
4,2006,1,4,2,0,1580,1749,attached,430,0,True,False,True,True,582,Jacob Cape,NaN,Lake Christinaport,11203,207897.0

In [3]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42703 entries, 0 to 42702
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year_built           42703 non-null  int64
 1   stories              42703 non-null  int64
 2   num_bedrooms         42703 non-null  int64
 3   full_bathrooms       42703 non-null  int64
 4   half_bathrooms       42703 non-null  int64
 5   livable_sqft         42703 non-null  int64
 6   total_sqft           42703 non-null  int64
 7   garage_type          42703 non-null  object
 8   garage_sqft          42703 non-null  int64
 9   carport_sqft         42703 non-null  int64
 10  has_fireplace        42703 non-null  bool
 11  has_pool             42703 non-null  bool
 12  has_central_heating  42703 non-null  bool
 13  has_central_cooling  42703 non-null  bool
 14  house_number         42703 non-null  int64
 15  street_name          42703 non-null  object
 16  unit_number          3088 non-null   float64
 17  city                 42703 non-null  object
 18  zip_code             42703 non-null  int64
 19  sale_price           42703 non-null  float64
dtypes: bool(4), float64(2), int64(11), object(3)
memory usage: 5.4+ MB

In [4]:
house['unit_number']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
42698     253.0
42699    3560.0
42700    3931.0
42701       NaN
42702       NaN
Name: unit_number, Length: 42703, dtype: float64

In [5]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42703 entries, 0 to 42702
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year_built           42703 non-null  int64
 1   stories              42703 non-null  int64
 2   num_bedrooms         42703 non-null  int64
 3   full_bathrooms       42703 non-null  int64
 4   half_bathrooms       42703 non-null  int64
 5   livable_sqft         42703 non-null  int64
 6   total_sqft           42703 non-null  int64
 7   garage_type          42703 non-null  object
 8   garage_sqft          42703 non-null  int64
 9   carport_sqft         42703 non-null  int64
 10  has_fireplace        42703 non-null  bool
 11  has_pool             42703 non-null  bool
 12  has_central_heating  42703 non-null  bool
 13  has_central_cooling  42703 non-null  bool
 14  house_number         42703 non-null  int64
 15  street_name          42703 non-null  object
 16  unit_number          3088 non-null   float64
 17  city                 42703 non-null  object
 18  zip_code             42703 non-null  int64
 19  sale_price           42703 non-null  float64
dtypes: bool(4), float64(2), int64(11), object(3)
memory usage: 5.4+ MB

In [6]:
house.columns

Index(['year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_type',
       'garage_sqft', 'carport_sqft', 'has_fireplace', 'has_pool',
       'has_central_heating', 'has_central_cooling', 'house_number',
       'street_name', 'unit_number', 'city', 'zip_code', 'sale_price'],
      dtype='object')

In [7]:
cols = ['zip_code','city','unit_number','street_name','house_number']
house = house.drop(cols, axis=1)

In [8]:
house.columns

Index(['year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_type',
       'garage_sqft', 'carport_sqft', 'has_fireplace', 'has_pool',
       'has_central_heating', 'has_central_cooling', 'sale_price'],
      dtype='object')

In [9]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42703 entries, 0 to 42702
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year_built           42703 non-null  int64
 1   stories              42703 non-null  int64
 2   num_bedrooms         42703 non-null  int64
 3   full_bathrooms       42703 non-null  int64
 4   half_bathrooms       42703 non-null  int64
 5   livable_sqft         42703 non-null  int64
 6   total_sqft           42703 non-null  int64
 7   garage_type          42703 non-null  object
 8   garage_sqft          42703 non-null  int64
 9   carport_sqft         42703 non-null  int64
 10  has_fireplace        42703 non-null  bool
 11  has_pool             42703 non-null  bool
 12  has_central_heating  42703 non-null  bool
 13  has_central_cooling  42703 non-null  bool
 14  sale_price           42703 non-null  float64
dtypes: bool(4), float64(1), int64(9), object(1)
memory usage: 3.7+ MB

In [10]:
house['garage_type'].unique()

array(['attached', 'none', 'detached'], dtype=object)

In [11]:
garage_dummies = pd.get_dummies(house['garage_type'], prefix = 'garage_type')
house = pd.concat([house, garage_dummies],axis=1)

In [12]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42703 entries, 0 to 42702
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year_built            42703 non-null  int64
 1   stories               42703 non-null  int64
 2   num_bedrooms          42703 non-null  int64
 3   full_bathrooms        42703 non-null  int64
 4   half_bathrooms        42703 non-null  int64
 5   livable_sqft          42703 non-null  int64
 6   total_sqft            42703 non-null  int64
 7   garage_type           42703 non-null  object
 8   garage_sqft           42703 non-null  int64
 9   carport_sqft          42703 non-null  int64
 10  has_fireplace         42703 non-null  bool
 11  has_pool              42703 non-null  bool
 12  has_central_heating   42703 non-null  bool
 13  has_central_cooling   42703 non-null  bool
 14  sale_price            42703 non-null  float64
 15  garage_type_attached  42703 non-null  uint8
 16  garage_type_detached  42703 non-null  uint8
 17  garage_type_none      42703 non-null  uint8
dtypes: bool(4), float64(1), int64(9), object(1), uint8(3)
memory usage: 3.9+ MB

In [13]:
house.drop('garage_type',axis=1, inplace=True)

In [14]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42703 entries, 0 to 42702
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year_built            42703 non-null  int64
 1   stories               42703 non-null  int64
 2   num_bedrooms          42703 non-null  int64
 3   full_bathrooms        42703 non-null  int64
 4   half_bathrooms        42703 non-null  int64
 5   livable_sqft          42703 non-null  int64
 6   total_sqft            42703 non-null  int64
 7   garage_sqft           42703 non-null  int64
 8   carport_sqft          42703 non-null  int64
 9   has_fireplace         42703 non-null  bool
 10  has_pool              42703 non-null  bool
 11  has_central_heating   42703 non-null  bool
 12  has_central_cooling   42703 non-null  bool
 13  sale_price            42703 non-null  float64
 14  garage_type_attached  42703 non-null  uint8
 15  garage_type_detached  42703 non-null  uint8
 16  garage_type_none      42703 non-null  uint8
dtypes: bool(4), float64(1), int64(9), uint8(3)
memory usage: 3.5 MB

In [15]:
house.columns

Index(['year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_sqft',
       'carport_sqft', 'has_fireplace', 'has_pool', 'has_central_heating',
       'has_central_cooling', 'sale_price', 'garage_type_attached',
       'garage_type_detached', 'garage_type_none'],
      dtype='object')

In [16]:
cols = ['year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_sqft',
       'carport_sqft', 'has_fireplace', 'has_pool', 'has_central_heating',
       'has_central_cooling','garage_type_attached',
       'garage_type_detached', 'garage_type_none','sale_price']

In [17]:
house[cols].corr()

,year_built,stories,num_bedrooms,full_bathrooms,half_bathrooms,livable_sqft,total_sqft,garage_sqft,carport_sqft,has_fireplace,has_pool,has_central_heating,has_central_cooling,garage_type_attached,garage_type_detached,garage_type_none,sale_price
year_built,1.000000,0.340048,0.354184,0.507460,0.018290,0.501600,0.441766,0.418244,-0.183255,0.133737,-0.023889,0.535366,0.566484,0.506652,-0.323138,-0.360759,0.227948
stories,0.340048,1.000000,0.411178,0.386661,0.188167,0.402780,0.345969,0.263845,-0.164134,0.177420,-0.027474,0.145494,0.176515,0.268298,-0.125253,-0.223427,0.130693
num_bedrooms,0.354184,0.411178,1.000000,0.547654,0.090575,0.646047,0.599964,0.479839,-0.224600,0.310697,0.156539,0.179828,0.190266,0.408329,-0.148589,-0.369722,0.316768
full_bathrooms,0.507460,0.386661,0.547654,1.000000,-0.326024,0.718242,0.683580,0.419770,-0.071632,0.234325,0.169734,0.273856,0.310613,0.286757,-0.152051,-0.225961,0.429947
half_bathrooms,0.018290,0.188167,0.090575,-0.326024,1.000000,0.103696,0.108050,0.154152,-0.155806,0.110508,0.046666,0.082710,0.060697,0.187890,-0.044166,-0.187218,0.094280
livable_sqft,0.501600,0.402780,0.646047,0.718242,0.103696,1.000000,0.975450,0.597781,-0.179945,0.321354,0.261967,0.257247,0.294371,0.384588,-0.144589,-0.344949,0.627508
total_sqft,0.441766,0.345969,0.599964,0.683580,0.108050,0.975450,1.000000,0.586785,-0.180651,0.314783,0.290305,0.228405,0.266848,0.349623,-0.119798,-0.321812,0.660714
garage_sqft,0.418244,0.263845,0.479839,0.419770,0.154152,0.597781,0.586785,1.000000,-0.406683,0.415696,0.202434,0.240686,0.284199,0.638506,0.011884,-0.750598,0.448928
carport_sqft,-0.183255,-0.164134,-0.224600,-0.071632,-0.155806,-0.179945,-0.180651,-0.406683,1.000000,-0.268507,-0.078099,-0.008206,-0.057609,-0.467183,0.011040,0.535263,-0.197384
has_fireplace,0.133737,0.177420,0.310697,0.234325,0.110508,0.321354,0.314783,0.415696,-0.268507,1.000000,0.229999,0.177342,0.190158,0.399971,-0.104696,-0.391001,0.275813
has_pool,-0.023889,-0.027474,0.156539,0.169734,0.046666,0.261967,0.290305,0.202434,-0.078099,0.229999,1.000000,0.069128,0.070788,0.122333,-0.028815,-0.121854,0.355073
has_central_heating,0.535366,0.145494,0.179828,0.273856,0.082710,0.257247,0.228405,0.240686,-0.008206,0.177342,0.069128,1.000000,0.764562,0.305678,-0.223033,-0.197831,0.115658
has_central_cooling,0.566484,0.176515,0.190266,0.310613,0.060697,0.294371,0.266848,0.284199,-0.057609,0.190158,0.070788,0.764562,1.000000,0.348844,-0.221305,-0.249228,0.142121
garage_type_attached,0.506652,0.268298,0.408329,0.286757,0.187890,0.384588,0.349623,0.638506,-0.467183,0.399971,0.122333,0.305678,0.348844,1.000000,-0.517670,-0.796866,0.259255
garage_type_detached,-0.323138,-0.125253,-0.148589,-0.152051,-0.044166,-0.144589,-0.119798,0.011884,0.011040,-0.104696,-0.028815,-0.223033,-0.221305,-0.517670,1.000000,-0.104390,-0.056670
garage_type_none,-0.360759,-0.223427,-0.369722,-0.225961,-0.187218,-0.344949,-0.321812,-0.750598,0.535263,-0.391001,-0.121854,-0.197831,-0.249228,-0.796866,-0.104390,1.000000,-0.261344
sale_price,0.227948,0.130693,0.316768,0.429947,0.094280,0.627508,0.660714,0.448928,-0.197384,0.275813,0.355073,0.115658,0.142121,0.259255,-0.056670,-0.261344,1.000000

# Single linear Regression

In [19]:
train = house[0:int((house.shape[0]*(70/100)))]
test = house[int(house.shape[0]*(70/100)):]

In [28]:
columns = ['year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft', 'garage_sqft',
       'carport_sqft', 'has_fireplace', 'has_pool', 'has_central_heating',
       'has_central_cooling','garage_type_attached',
       'garage_type_detached', 'garage_type_none']

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr = LinearRegression()

# Training the model
lr.fit(train[['total_sqft']], train['sale_price'])
prediction = lr.predict(train[['total_sqft']])
train_mse = mean_squared_error(prediction, train['sale_price'])
import numpy as np
train_rmse = np.sqrt(train_mse)

# Using the model on the test data
lr.fit(test[['total_sqft']], test['sale_price'])
test_prediction = lr.predict(test[['total_sqft']])
test_mse = mean_squared_error(test_prediction, test['sale_price'])

test_rmse = np.sqrt(test_mse)

In [27]:
test_rmse

211601.01156976368

In [25]:
train_mse

62439514107.69258

In [21]:
train_rmse

249878.99893286868

In [ ]:
house.shape[0]*(70/100)

In [ ]:
house.shape[0]

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr = LinearRegression()

# Training the model
lr.fit(train[columns], train['sale_price'])
prediction = lr.predict(train[columns])
train_mse = mean_squared_error(prediction, train['sale_price'])
import numpy as np
train_rmse = np.sqrt(train_mse)

# Using the model on the test data
lr.fit(test[columns], test['sale_price'])
test_prediction = lr.predict(test[columns])
test_mse = mean_squared_error(test_prediction, test['sale_price'])

test_rmse = np.sqrt(test_mse)

In [30]:
test_rmse

195789.18908645192

In [31]:
lr.intercept_

1539231.3011527415

In [32]:
lr.coef_

array([-7.56549816e+02, -5.79528757e+04, -4.06840537e+04,  3.90841503e+04,
        3.84344289e+04, -2.58854770e+01,  2.41119399e+02,  1.07378414e+02,
       -1.40931971e+02,  3.26286499e+04,  1.15722170e+05, -3.49239388e+04,
       -1.74444845e+04,  2.83552610e+03, -7.32560406e+03,  4.49007795e+03])